@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  text-rendering: optimizeLegibility;
}

.page-title {
   font-weight:400;
   color: #FFFFFF;
   background-color: #192346;
   padding: 8px !important;
   border-bottom: 1px solid #797d6b;
}

.clickable {
  cursor: pointer;
  background:#f2f2f2;
}

.content div {
  border-bottom: 1px solid #b2b2b2;
}

.content div:nth-child(odd) div{
  background:#e5e5e5;
}

.content div:hover div{
  background:#5576ea;
  color:#FFFFFF;
}

.text-left {
  text-align: left;
  color: #FFFFFF;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
